.Main {
  position: relative;
  height: 120vh;
  width: 100vw;
  border-radius: 20px;
  background-image: url(porche.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.Sub {
  height: 80vh;
  width: 50vw;
  position: absolute;
  top: 20vh;
  left: 10vw;
  border-radius: 20px;
}
input {
  height: 50px;
  width: 300px;
  display: block;
  margin-bottom: 40px;
  border-radius: 20px;
  margin-left: 150px;
  padding-left: 10px;

}
button {
  background-color: black;
  color: white;
  height: 50px;
  width: 150px;
  border-radius: 20px;
  font-size: 1.3rem;
  margin-left: 220px;
 
}
::placeholder {
  color: black;
  padding-left:0px;
  font-size: 1.2rem;
}
.Sub h2 {
    color: white;
  font-size: 2.5rem;
margin-left: 190px;
}
